/target
/.history
/dist
/dist.zip
/esp32-wifi-screen
/LibreHardwareMonitor.NET.10
/LibreHardwareMonitorNativeAot/publish
/LibreHardwareMonitorNativeAot/bin
/LibreHardwareMonitorNativeAot/obj
/USB-Screen-1.2.3